<?xml version="1.0"?>
<sdf version='1.5'>

  <model name='woodstock'>
    <pose>0 0 0.246 0 0 0</pose>

<!-- Suggested pose and scale -->
<!-- <pose>0.00 0 -0.00 1.57 0 -1.57</pose> -->
<!-- <scale>0.001 0.001 0.001</scale> -->
    <plugin name='sysid_plugin' filename='libgazebo_sysid_plugin.so'>
      <ModelSetVelocity_>13.8889 1e-06 1e-06</ModelSetVelocity_>
      <ModelSetAcceleration_>1e-07 1e-07 1e-07</ModelSetAcceleration_>
      <ModelSetOrientation_>1e-07 1e-07 1e-07</ModelSetOrientation_>
      <ModelSetAngularVelocity_>1e-07 1e-07 1e-07</ModelSetAngularVelocity_>
      <ModelSetAngularAcceleration_>1e-07 1e-07 1e-07</ModelSetAngularAcceleration_>
      <gzSetState>false</gzSetState>
    </plugin>

    <link name='base_link'>
      <pose>0 0 -0.00 0 0 0</pose>
      <inertial>
        <pose>0.0 0 0 0 0 0</pose>
        <mass>1.4</mass>
        <inertia>
          <!-- <ixx>0.02817</ixx>
          <ixy>0</ixy>
          <ixz>0</ixz>
          <iyy>0.0476244</iyy>
          <iyz>0</iyz>
          <izz>0.073855</izz> -->
          <ixx>0.778</ixx>
          <ixy>0</ixy>
          <ixz>0</ixz>
          <iyy>0.160</iyy>
          <iyz>0</iyz>
          <izz>0.1247</izz>
        </inertia>
      </inertial>
      <collision name='base_link_collision'>
        <pose>0 0 -0.0 0 0 0</pose>
        <geometry>
          <box>
            <size>0.5 0.27 0.16</size>
          </box>
        </geometry>
        <surface>
          <contact>
            <ode>
              <max_vel>20</max_vel>
              <min_depth>0.01</min_depth>
            </ode>
          </contact>
          <!--<friction>
            <ode/>
          </friction>-->
        </surface>
      </collision>
      <visual name='base_link_visual'>
        <pose> 0.1 0 -0.075 1.57 0 -1.57</pose>
        <geometry>
          <mesh>
            <scale>0.0019 0.0019 0.0019</scale>
            <uri>model://wssitl/meshes/Chassis_wo_rudder.STL</uri>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/DarkGrey</name>
            <uri>__default__</uri>
          </script>
        </material>
      </visual>
      <gravity>1</gravity>
      <velocity_decay/>
      <self_collide>0</self_collide>
    </link>

    <include>
      <uri>model://wssitl_fw/foldable_right</uri>
      <pose>-0.02104 -0.04419 0.04443 0 0 0</pose>
      <name>foldable_right</name>
    </include>

    <joint name='fwr_joint' type='fixed'>
      <child>foldable_right::base_R_link</child>
      <parent>base_link</parent>
    </joint>

    <include>
      <uri>model://wssitl_fw/foldable_left</uri>
      <pose>-0.02104 0.04419 0.04443 0 0 0</pose>
      <name>foldable_left</name>
    </include>

    <joint name='fwl_joint' type='fixed'>
      <child>foldable_left::base_L_link</child>
      <parent>base_link</parent>
    </joint>

    <!-- Sensors
    plane/imu_link : plane/imu_joint
      - gazebo_imu_plugin
      - magnetometer_plugin
      - barometer_plugin
      - groundtruth_plugin
    plane/airspeed_link : plane/airspeed_link
      - airspeed_plugin
    gps::link :
      - gps_joint
    -->


    <!-- [IMU sensor] -->
    <!-- Centered -->
    <link name='plane/imu_link'>
      <pose>0 0 0 0 0 0</pose>
      <inertial>
        <pose>0 0 0 0 0 0</pose>
        <mass>0.015</mass>
        <inertia>
          <ixx>1e-05</ixx>
          <ixy>0</ixy>
          <ixz>0</ixz>
          <iyy>1e-05</iyy>
          <iyz>0</iyz>
          <izz>1e-05</izz>
        </inertia>
      </inertial>
    </link>

    <joint name='plane/imu_joint' type='revolute'>
      <child>plane/imu_link</child>
      <parent>base_link</parent>
      <axis>
        <xyz>1 0 0</xyz>
        <limit>
          <lower>0</lower>
          <upper>0</upper>
          <effort>0</effort>
          <velocity>0</velocity>
        </limit>
        <dynamics>
          <spring_reference>0</spring_reference>
          <spring_stiffness>0</spring_stiffness>
        </dynamics>
        <use_parent_model_frame>1</use_parent_model_frame>
      </axis>
    </joint>

    <!-- [Airspeed Sensor] -->
    <!-- Centered -->
    <link name='plane/airspeed_link'>
      <pose>0 0 0 0 0 0</pose>
      <inertial>
        <pose>0 0 0 0 0 0</pose>
        <mass>1e-05</mass>
        <inertia>
          <ixx>1e-05</ixx>
          <ixy>0</ixy>
          <ixz>0</ixz>
          <iyy>1e-05</iyy>
          <iyz>0</iyz>
          <izz>1e-05</izz>
        </inertia>
      </inertial>
    </link>

    <joint name='plane/airspeed_joint' type='revolute'>
      <child>plane/airspeed_link</child>
      <parent>base_link</parent>
      <axis>
        <xyz>1 0 0</xyz>
        <limit>
          <lower>0</lower>
          <upper>0</upper>
          <effort>0</effort>
          <velocity>0</velocity>
        </limit>
        <dynamics>
          <spring_reference>0</spring_reference>
          <spring_stiffness>0</spring_stiffness>
        </dynamics>
        <use_parent_model_frame>1</use_parent_model_frame>
      </axis>
    </joint>

<!-- [Rotor] -->
<!-- Rotor Puller Configuration -->
    <link name='rotor_puller'>
      <pose>0.364 0 0.00 0 1.57 0</pose>
      <inertial>
        <pose>0.0 0 0 0 0 0</pose>
        <mass>0.005</mass>
        <inertia>
          <ixx>9.75e-07</ixx>
          <ixy>0</ixy>
          <ixz>0</ixz>
          <iyy>0.000166704</iyy>
          <iyz>0</iyz>
          <izz>0.000167604</izz>
        </inertia>
      </inertial>
      <!-- <collision name='rotor_puller_collision'>
        <pose>0.0 0 0.0 0 0 0</pose>
        <geometry>
          <cylinder>
            <length>0.005</length>
            <radius>0.05</radius>
          </cylinder>
        </geometry>
        <surface>
          <contact>
            <ode/>
          </contact>
          <friction>
            <ode/>
          </friction>
        </surface>
      </collision> -->
      <visual name='rotor_puller_visual'>
        <pose>-0.00 0 0.015 0 0 0</pose>
        <geometry>
          <mesh>
            <scale>0.7 0.7 0.7</scale>
            <uri>model://plane/meshes/iris_prop_ccw.dae</uri>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/Red</name>
            <uri>__default__</uri>
          </script>
        </material>
      </visual>
      <gravity>1</gravity>
      <velocity_decay/>
      <self_collide>0</self_collide>
    </link>

    <joint name='rotor_puller_joint' type='revolute'>
      <child>rotor_puller</child>
      <parent>base_link</parent>
      <axis>
        <xyz>1 0 0</xyz>
        <limit>
          <lower>-1e+16</lower>
          <upper>1e+16</upper>
        </limit>
        <dynamics>
          <spring_reference>0</spring_reference>
          <spring_stiffness>0</spring_stiffness>
        </dynamics>
        <use_parent_model_frame>1</use_parent_model_frame>
      </axis>
    </joint>

    <!-- Folderable Wing -->
    <!-- <link name="left_wing">
      <inertial>
        <mass>0.2</mass>
        <inertia>
          <ixx>0.000001</ixx>
          <ixy>0.0</ixy>
          <iyy>0.000001</iyy>
          <ixz>0.0</ixz>
          <iyz>0.0</iyz>
          <izz>0.000001</izz>
        </inertia>
        <pose>-0.148 0.4 0.1 0.00 0 0.0</pose>
      </inertial>
      <visual name='left_wing_visual'>
        <pose>0.00 0 -0.025 1.57 0 -1.57</pose>
        <geometry>
          <mesh>
            <scale>0.001 0.001 0.001</scale>
            <uri>model://wssitl/meshes/Left_Wing.STL</uri>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/Grey</name>
            <uri>__default__</uri>
          </script>
        </material>
      </visual>
    </link> -->

    <!-- <link name="right_wing">
      <inertial>
        <mass>0.2</mass>
        <inertia>
          <ixx>0.000001</ixx>
          <ixy>0.0</ixy>
          <iyy>0.000001</iyy>
          <ixz>0.0</ixz>
          <iyz>0.0</iyz>
          <izz>0.000001</izz>
        </inertia>
        <pose>-0.148 -0.4 0.1 0.00 0 0.0</pose>
      </inertial>
      <visual name='right_wing_visual'>
        <pose>0.00 0 -0.025 1.57 0 -1.57</pose>
        <geometry>
          <mesh>
            <scale>0.001 0.001 0.001</scale>
            <uri>model://wssitl/meshes/Right_Wing.STL</uri>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/Grey</name>
            <uri>__default__</uri>
          </script>
        </material>
      </visual>
    </link> -->

    <!-- Ailerons -->
    <!-- <link name="left_elevon_out">
      <inertial>
        <mass>0.00000001</mass>
        <inertia>
          <ixx>0.000001</ixx>
          <ixy>0.0</ixy>
          <iyy>0.000001</iyy>
          <ixz>0.0</ixz>
          <iyz>0.0</iyz>
          <izz>0.000001</izz>
        </inertia>
        <pose>-0.148 0.637 0.1 0.00 0 0.0</pose>
      </inertial>
      <visual name='left_elevon_visual_out'>
        <pose>0.00 0 -0.025 1.57 0 -1.57</pose>
        <geometry>
          <mesh>
            <scale>0.001 0.001 0.001</scale>
            <uri>model://wssitl/meshes/AileronLeft_Out.STL</uri>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/Blue</name>
            <uri>__default__</uri>
          </script>
        </material>
      </visual>
    </link> -->


    <!-- <link name="right_elevon_out">
      <inertial>
        <mass>0.00000001</mass>
        <inertia>
          <ixx>0.000001</ixx>
          <ixy>0.0</ixy>
          <iyy>0.000001</iyy>
          <ixz>0.0</ixz>
          <iyz>0.0</iyz>
          <izz>0.000001</izz>
        </inertia>
        <pose>-0.148 -0.637 0.1 0.00 0 0.0</pose>
      </inertial>
      <visual name='right_elevon_visual_out'>
        <pose>0.00 0 -0.025 1.57 0 -1.57</pose>
        <geometry>
          <mesh>
            <scale>0.001 0.001 0.001</scale>
            <uri>model://wssitl/meshes/AileronRight_Out.STL</uri>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/Blue</name>
            <uri>__default__</uri>
          </script>
        </material>
      </visual>
    </link> -->

    <!-- <link name="left_elevon_in">
      <inertial>
        <mass>0.00000001</mass>
        <inertia>
          <ixx>0.000001</ixx>
          <ixy>0.0</ixy>
          <iyy>0.000001</iyy>
          <ixz>0.0</ixz>
          <iyz>0.0</iyz>
          <izz>0.000001</izz>
        </inertia>
        <pose>-0.148 0.637 0.1 0.00 0 0.0</pose>
      </inertial>
      <visual name='left_elevon_visual_in'>
        <pose>0.00 0 -0.025 1.57 0 -1.57</pose>
        <geometry>
          <mesh>
            <scale>0.001 0.001 0.001</scale>
            <uri>model://wssitl/meshes/AileronLeft_In.STL</uri>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/Red</name>
            <uri>__default__</uri>
          </script>
        </material>
      </visual>
    </link> -->


    <!-- <link name="right_elevon_in">
      <inertial>
        <mass>0.00000001</mass>
        <inertia>
          <ixx>0.000001</ixx>
          <ixy>0.0</ixy>
          <iyy>0.000001</iyy>
          <ixz>0.0</ixz>
          <iyz>0.0</iyz>
          <izz>0.000001</izz>
        </inertia>
        <pose>-0.148 -0.637 0.1 0.00 0 0.0</pose>
      </inertial>
      <visual name='right_elevon_visual_in'>
        <pose>0.00 0 -0.025 1.57 0 -1.57</pose>
        <geometry>
          <mesh>
            <scale>0.001 0.001 0.001</scale>
            <uri>model://wssitl/meshes/AileronRight_In.STL</uri>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/Red</name>
            <uri>__default__</uri>
          </script>
        </material>
      </visual>
    </link> -->



    <link name="elevator_right">
      <pose> -0.2783 -0.05753 0.02308 0 0 0</pose>
      <inertial>
        <mass>0.00000001</mass>
        <inertia>
          <ixx>0.000001</ixx>
          <ixy>0.0</ixy>
          <iyy>0.000001</iyy>
          <ixz>0.0</ixz>
          <iyz>0.0</iyz>
          <izz>0.000001</izz>
        </inertia>
        <pose> -0.0 0 0 0.00 0 0.0</pose>
      </inertial>
      <visual name='elevator_right_visual'>
        <pose>0.39 0.05 -0.1 1.57 0 -1.57</pose>
        <geometry>
          <mesh>
            <scale>0.0019 0.0019 0.0019</scale>
            <uri>model://wssitl/meshes/RightElevator.STL</uri>
            <!-- <uri>model://plane/meshes/elevators.dae</uri> -->
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/Blue</name>
            <uri>__default__</uri>
          </script>
        </material>
      </visual>
    </link>

    <link name="elevator_left">
      <pose> -0.2783 0.05753 0.02308 0 0 0</pose>
      <inertial>
        <mass>0.00000001</mass>
        <inertia>
          <ixx>0.000001</ixx>
          <ixy>0.0</ixy>
          <iyy>0.000001</iyy>
          <ixz>0.0</ixz>
          <iyz>0.0</iyz>
          <izz>0.000001</izz>
        </inertia>
        <pose> -0.0 0 0 0.00 0 0.0</pose>
      </inertial>
      <visual name='elevator_left_visual'>
        <pose>0.39 -0.05 -0.1 1.57 0 -1.57</pose>
        <geometry>
          <mesh>
            <scale>0.0019 0.0019 0.0019</scale>
            <uri>model://wssitl/meshes/LeftElevator.STL</uri>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/Blue</name>
            <uri>__default__</uri>
          </script>
        </material>
      </visual>
    </link>

    <link name="chassisrudder">
      <pose> -0.2783 -0.00 0.060 0 0 0</pose>
      <inertial>
        <mass>0.00000001</mass>
        <inertia>
          <ixx>0.000001</ixx>
          <ixy>0.0</ixy>
          <iyy>0.000001</iyy>
          <ixz>0.0</ixz>
          <iyz>0.0</iyz>
          <izz>0.000001</izz>
        </inertia>
        <pose> -0.0 0 0 0.00 0 0.0</pose>
      </inertial>
      <visual name='chassisrudder_visual'>
        <pose>0.39 0 -0.125 1.57 0 -1.57</pose>
        <geometry>
          <mesh>
            <!-- <scale>0.1 0.1 0.1</scale> -->
            <scale>0.0019 0.0019 0.0019</scale>
            <uri>model://wssitl/meshes/Rudder.STL</uri>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/Blue</name>
            <uri>__default__</uri>
          </script>
        </material>
      </visual>
    </link>

    <!-- <link name="rudder">
      <inertial>
        <mass>0.00000001</mass>
        <inertia>
          <ixx>0.000001</ixx>
          <ixy>0.0</ixy>
          <iyy>0.000001</iyy>
          <ixz>0.0</ixz>
          <iyz>0.0</iyz>
          <izz>0.000001</izz>
        </inertia>
        <pose>-0.5 0 0.05 0 0 0 </pose>
      </inertial>
      <visual name='rudder_visual'>
        <pose>0.07 0.0 -0.08 0.00 0 0.0</pose>
        <geometry>
          <mesh>
            <scale>0.1 0.1 0.1</scale>
            <uri>model://plane/meshes/rudder.dae</uri>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/Blue</name>
            <uri>__default__</uri>
          </script>
        </material>
      </visual>
    </link> -->

    <!-- ELEVON OUT -->
    <!-- <joint name='left_elevon_out_joint' type='revolute'>
      <parent>base_link</parent>
      <child>left_elevon_out</child>
      <pose>-0.148 0.637 0.1 0.00 0 0.0</pose>
      <axis>
        <xyz>0.44 0.90 0.111</xyz>
        <limit>
          <lower>-0.53</lower>
          <upper>0.53</upper>
        </limit>
        <dynamics>
          <damping>1.000</damping>
        </dynamics>
      </axis>
      <physics>
        <ode>
          <implicit_spring_damper>1</implicit_spring_damper>
        </ode>
      </physics>
    </joint> -->
    <!-- <joint name='right_elevon_out_joint' type='revolute'>
      <parent>base_link</parent>
      <child>right_elevon_out</child>
      <pose>-0.148 -0.637 0.1 0.00 0 0.0</pose>
      <axis>
        <xyz>0.44 -0.90 0.111</xyz>
        <limit>
          <lower>-0.53</lower>
          <upper>0.53</upper>
        </limit>
        <dynamics>
          <damping>1.000</damping>
        </dynamics>
      </axis>
      <physics>
        <ode>
          <implicit_spring_damper>1</implicit_spring_damper>
        </ode>
      </physics>
    </joint> -->
    <!-- ELEVON IN -->
    <!-- <joint name='left_elevon_in_joint' type='revolute'>
      <parent>base_link</parent>
      <child>left_elevon_in</child>
      <pose>-0.148 0.637 0.1 0.00 0 0.0</pose>
      <axis>
        <xyz>-0.44 -0.90 -0.111</xyz>
        <limit>

          <lower>-0.53</lower>
          <upper>0.53</upper>
        </limit>
        <dynamics>
          <damping>1.000</damping>
        </dynamics>
      </axis>
      <physics>
        <ode>
          <implicit_spring_damper>1</implicit_spring_damper>
        </ode>
      </physics>
    </joint> -->
    <!-- <joint name='right_elevon_in_joint' type='revolute'>
      <parent>base_link</parent>
      <child>right_elevon_in</child>

      <pose>-0.148 -0.637 0.1 0.00 0 0.0</pose>
      <axis>
        <xyz>-0.44 0.90 -0.111</xyz>
        <limit>

          <lower>-0.53</lower>
          <upper>0.53</upper>
        </limit>
        <dynamics>
          <damping>1.000</damping>
        </dynamics>
      </axis>
      <physics>
        <ode>
          <implicit_spring_damper>1</implicit_spring_damper>
        </ode>
      </physics>
    </joint> -->

    <!-- Elevator -->
    <joint name='elevator_right_joint' type='revolute'>
      <parent>base_link</parent>
      <child>elevator_right</child>
      <pose> -0.2783 -0.05753 0.02308 0 0 0</pose>
      <axis>
        <!-- <xyz>0 1 0</xyz> -->
        <xyz>-0.441 -0.897 -0.422</xyz>
        <limit>
          <!-- -30/+30 deg. -->
          <lower>-0.53</lower>
          <upper>0.53</upper>
        </limit>
        <dynamics>
          <damping>1.000</damping>
        </dynamics>
      </axis>
      <physics>
        <ode>
          <implicit_spring_damper>1</implicit_spring_damper>
        </ode>
      </physics>
    </joint>
    <joint name='elevator_left_joint' type='revolute'>
      <parent>base_link</parent>
      <child>elevator_left</child>
      <pose> -0.2783 0.05753 0.02308 0 0 0</pose>
      <axis>
        <!-- <xyz>0 1 0</xyz> -->
        <xyz>-0.441 0.897 -0.422</xyz>
        <limit>
          <!-- -30/+30 deg. -->
          <lower>-0.53</lower>
          <upper>0.53</upper>
        </limit>
        <dynamics>
          <damping>1.000</damping>
        </dynamics>
      </axis>
      <physics>
        <ode>
          <implicit_spring_damper>1</implicit_spring_damper>
        </ode>
      </physics>
    </joint>

    <!-- chassis_rudder -->
    <joint name='chassis_rudder' type='revolute'>
      <parent>base_link</parent>
      <child>chassisrudder</child>
      <pose> -0.2783 -0.00 0.060 0 0 0</pose>
      <axis>
        <xyz>0 0 1</xyz>
        <limit>
          <!-- -30/+30 deg. -->
          <lower>-0.0</lower>
          <upper>0.0</upper>
        </limit>
        <dynamics>
          <damping>1.000</damping>
        </dynamics>
      </axis>
      <physics>
        <ode>
          <implicit_spring_damper>1</implicit_spring_damper>
        </ode>
      </physics>
    </joint>

    <!-- <joint name='rudder_joint' type='revolute'>
      <parent>base_link</parent>
      <child>rudder</child>
      <pose>-0.5 0 0.05 0.00 0 0.0</pose>
      <axis>
        <xyz>0 0 1</xyz>
        <limit>

          <lower>-0.53</lower>
          <upper>0.53</upper>
        </limit>
        <dynamics>
          <damping>1.000</damping>
        </dynamics>
      </axis>
      <physics>
        <ode>
          <implicit_spring_damper>1</implicit_spring_damper>
        </ode>
      </physics>
    </joint> -->

    <include>
      <uri>model://gps</uri>
      <pose>0 0 0 0 0 0</pose>
      <name>gps</name>
    </include>

    <joint name='gps_joint' type='fixed'>
      <child>gps::link</child>
      <parent>base_link</parent>
    </joint>

    <!-- <joint name='left_wing_joint' type='revolute'>
      <parent>base_link</parent>
      <child>left_wing</child>
      <pose>-0.148 0.4 0.1 0.00 0 0.0</pose>
      <axis>
        <xyz>0 1 0</xyz>
        <limit>
          <lower>-0.0</lower>
          <upper>0.0</upper>
        </limit>
        <dynamics>
          <damping>1.000</damping>
        </dynamics>
      </axis>
      <physics>
        <ode>
          <implicit_spring_damper>1</implicit_spring_damper>
        </ode>
      </physics>
    </joint> -->

    <!-- <joint name='right_wing_joint' type='revolute'>
      <parent>base_link</parent>
      <child>right_wing</child>
      <pose>-0.148 -0.4 0.1 0.00 0 0.0</pose>
      <axis>
        <xyz>0 1 0</xyz>
        <limit>
          <lower>-0.0</lower>
          <upper>0.0</upper>
        </limit>
        <dynamics>
          <damping>1.000</damping>
        </dynamics>
      </axis>
      <physics>
        <ode>
          <implicit_spring_damper>1</implicit_spring_damper>
        </ode>
      </physics>
    </joint> -->

	<!-- LiftDragPlugin - Need Aerodynamics data of model -->
	<!-- 1. Left Wing -->
  <!-- #breakdown to Wing Structure, Aileron in and Aileron Out -->
	<!-- 2. Right Wing -->
  <!-- #breakdown to Wing Structure, Aileron in and Aileron Out -->
	<!-- 3. Elevator -->
	<!-- 4. Rudder -->
    <!-- <plugin name="left_wing_plugin" filename="libLiftDragPlugin.so">
      <comp_index>W-L</comp_index>
      <a0>0.05984281113</a0>
      <cla>3.7</cla>
      <cda>0.194</cda>
      <cma>0.0</cma>
      <alpha_stall>0.139</alpha_stall>
      <cla_stall>-0.507</cla_stall>
      <cda_stall>0.8193</cda_stall>
      <cma_stall>0</cma_stall>
      <cp>-0.137 0.3 0.05</cp>
      <area>0.4</area>
      <air_density>1.2041</air_density>
      <forward>1 0 0</forward>
      <upward>0 0 1</upward>
      <link_name>base_link</link_name>
      <control_joint_name>
        left_wing_joint
      </control_joint_name>
      <control_joint_rad_to_cl>-0.5</control_joint_rad_to_cl>
      <robotNamespace></robotNamespace>
      <windSubTopic>world_wind</windSubTopic>
    </plugin> -->

    <!-- <plugin name="right_wing_plugin" filename="libLiftDragPlugin.so">
      <comp_index>W-R</comp_index>
      <a0>0.05984281113</a0>
      <cla>3.7</cla>
      <cda>0.194</cda>
      <cma>0.0</cma>
      <alpha_stall>0.139</alpha_stall>
      <cla_stall>-0.507</cla_stall>
      <cda_stall>0.8193</cda_stall>
      <cma_stall>0</cma_stall>
      <cp>-0.137 -0.3 0.05</cp>
      <area>0.4</area>
      <air_density>1.2041</air_density>
      <forward>1 0 0</forward>
      <upward>0 0 1</upward>
      <link_name>base_link</link_name>
      <control_joint_name>
        right_wing_joint
      </control_joint_name>
      <control_joint_rad_to_cl>-0.5</control_joint_rad_to_cl>
      <robotNamespace></robotNamespace>
      <windSubTopic>world_wind</windSubTopic>
    </plugin> -->

    <!-- <plugin name="left_elevon_out" filename="libLiftDragPlugin.so">
      <comp_index>Ail-LO</comp_index>
      <a0>0.05984281113</a0>
      <cla>3.7</cla>
      <cda>0.194</cda>
      <cma>0.0</cma>
      <alpha_stall>0.139</alpha_stall>
      <cla_stall>-0.507</cla_stall>
      <cda_stall>0.8193</cda_stall>
      <cma_stall>0</cma_stall>
      <cp>-0.137 0.75 0.05</cp>
      <area>0.05</area>
      <air_density>1.2041</air_density>
      <forward>1 0 0</forward>
      <upward>0 0 1</upward>
      <link_name>base_link</link_name>
      <control_joint_name>
        left_elevon_out_joint
      </control_joint_name>
      <control_joint_rad_to_cl>0.5</control_joint_rad_to_cl>
      <robotNamespace></robotNamespace>
      <windSubTopic>world_wind</windSubTopic>
    </plugin> -->

    <!-- <plugin name="right_elevon_out" filename="libLiftDragPlugin.so">
      <comp_index>Ail-RO</comp_index>
      <a0>0.05984281113</a0>
      <cla>3.7</cla>
      <cda>0.194</cda>
      <cma>0.0</cma>
      <alpha_stall>0.139</alpha_stall>
      <cla_stall>-0.507</cla_stall>
      <cda_stall>0.8193</cda_stall>
      <cma_stall>0</cma_stall>
      <cp>-0.137 -0.75 0.05</cp>
      <area>0.05</area>
      <air_density>1.2041</air_density>
      <forward>1 0 0</forward>
      <upward>0 0 1</upward>
      <link_name>base_link</link_name>
      <control_joint_name>
        right_elevon_out_joint
      </control_joint_name>
      <control_joint_rad_to_cl>-0.5</control_joint_rad_to_cl>
      <robotNamespace></robotNamespace>
      <windSubTopic>world_wind</windSubTopic>
    </plugin> -->

    <!-- <plugin name="right_elevon_in" filename="libLiftDragPlugin.so">
      <comp_index>Ail-RI</comp_index>
      <a0>0.05984281113</a0>
      <cla>3.7</cla>
      <cda>0.194</cda>
      <cma>0.0</cma>
      <alpha_stall>0.139</alpha_stall>
      <cla_stall>-0.507</cla_stall>
      <cda_stall>0.8193</cda_stall>
      <cma_stall>0</cma_stall>
      <cp>-0.137 -0.65 0.05</cp>
      <area>0.05</area>
      <air_density>1.2041</air_density>
      <forward>1 0 0</forward>
      <upward>0 0 1</upward>
      <link_name>base_link</link_name>
      <control_joint_name>
        right_elevon_in_joint
      </control_joint_name>
      <control_joint_rad_to_cl>0.5</control_joint_rad_to_cl>
      <robotNamespace></robotNamespace>
      <windSubTopic>world_wind</windSubTopic>
    </plugin> -->

    <!-- <plugin name="left_elevon_in" filename="libLiftDragPlugin.so">
      <comp_index>Ail-LI</comp_index>
      <a0>0.05984281113</a0>
      <cla>3.7</cla>
      <cda>0.194</cda>
      <cma>0.0</cma>
      <alpha_stall>0.139</alpha_stall>
      <cla_stall>-0.507</cla_stall>
      <cda_stall>0.8193</cda_stall>
      <cma_stall>0</cma_stall>
      <cp>-0.137 0.65 0.05</cp>
      <area>0.05</area>
      <air_density>1.2041</air_density>
      <forward>1 0 0</forward>
      <upward>0 0 1</upward>
      <link_name>base_link</link_name>
      <control_joint_name>
        left_elevon_in_joint
      </control_joint_name>
      <control_joint_rad_to_cl>-0.5</control_joint_rad_to_cl>
      <robotNamespace></robotNamespace>
      <windSubTopic>world_wind</windSubTopic>
    </plugin> -->

  <!-- ======= START OF LR ELEVATORS LIFTDRAG ======== -->
    <plugin name="elevator_right" filename="libLiftDragPlugin.so">
      <comp_index>Ele-R</comp_index>
      <a0>-0.2</a0>
      <cla>4.752798721</cla>
      <cda>0.6417112299</cda>
      <cma>0.0</cma>
      <alpha_stall>0.3391428111</alpha_stall>
      <cla_stall>-3.85</cla_stall>
      <cda_stall>-0.9233984055</cda_stall>
      <cma_stall>0</cma_stall>
      <!-- <cp>-0.5 0 0</cp> -->
      <!-- <area>0.02</area> -->
      <cp>-0.5 -0.05 0</cp>
      <area>0.02</area>
      <air_density>1.2041</air_density>
      <forward>1 0 0</forward>
      <upward>0 0 1</upward>
      <link_name>base_link</link_name>
      <control_joint_name>
        elevator_right_joint
      </control_joint_name>
      <control_joint_rad_to_cl>1.5</control_joint_rad_to_cl>
      <robotNamespace></robotNamespace>
      <windSubTopic>world_wind</windSubTopic>
    </plugin>

    <plugin name="elevator_left" filename="libLiftDragPlugin.so">
      <comp_index>Ele-L</comp_index>
      <a0>-0.2</a0>
      <cla>4.752798721</cla>
      <cda>0.6417112299</cda>
      <cma>0.0</cma>
      <alpha_stall>0.3391428111</alpha_stall>
      <cla_stall>-3.85</cla_stall>
      <cda_stall>-0.9233984055</cda_stall>
      <cma_stall>0</cma_stall>
      <!-- <cp>-0.5 0 0</cp> -->
      <!-- <area>0.02</area> -->
      <cp>-0.5 0.05 0</cp>
      <area>0.02</area>
      <air_density>1.2041</air_density>
      <forward>1 0 0</forward>
      <upward>0 0 1</upward>
      <link_name>base_link</link_name>
      <control_joint_name>
        elevator_left_joint
      </control_joint_name>
      <control_joint_rad_to_cl>-1.5</control_joint_rad_to_cl>
      <robotNamespace></robotNamespace>
      <windSubTopic>world_wind</windSubTopic>
    </plugin>

  <!-- ====== END OF LR ELEVATOR LIFTDRAG ====== -->

  <!-- ======= START OF RUDDER LIFTDRAG ======== -->
    <plugin name="ChassisRudder" filename="libLiftDragPlugin.so">
      <comp_index>Rud</comp_index>
      <radial_symmetry>true</radial_symmetry>
      <a0>0.0</a0>
      <cla>4.752798721</cla>
      <cda>0.6417112299</cda>
      <cma>0.0</cma>
      <alpha_stall>0.3391428111</alpha_stall>
      <cla_stall>-3.85</cla_stall>
      <cda_stall>-0.9233984055</cda_stall>
      <cma_stall>0</cma_stall>
      <cp>-0.5 0 0.05</cp>
      <area>0.02</area>
      <air_density>1.2041</air_density>
      <forward>1 0 0</forward>
      <upward>0 1 0</upward>
      <link_name>base_link</link_name>
      <control_joint_name>
         chassis_rudder
      </control_joint_name>
      <control_joint_rad_to_cl>0.0</control_joint_rad_to_cl>
      <robotNamespace></robotNamespace>
      <windSubTopic>world_wind</windSubTopic>
    </plugin>
    <!-- ====== END OF RUDDER LIFTDRAG ====== -->

    <!-- <plugin name="rudder" filename="libLiftDragPlugin.so">
      <a0>0.0</a0>
      <cla>4.752798721</cla>
      <cda>0.6417112299</cda>
      <cma>0.0</cma>
      <alpha_stall>0.3391428111</alpha_stall>
      <cla_stall>-3.85</cla_stall>
      <cda_stall>-0.9233984055</cda_stall>
      <cma_stall>0</cma_stall>
      <cp>-0.5 0 0.05</cp>
      <area>0.02</area>
      <air_density>1.2041</air_density>
      <forward>1 0 0</forward>
      <upward>0 1 0</upward>
      <link_name>base_link</link_name>
      <control_joint_name>
         rudder_joint
      </control_joint_name>
      <control_joint_rad_to_cl>4.0</control_joint_rad_to_cl>
      <robotNamespace></robotNamespace>
      <windSubTopic>world_wind</windSubTopic>
    </plugin> -->

    <plugin name='puller' filename='libgazebo_motor_model.so'>
      <robotNamespace></robotNamespace>
      <jointName>rotor_puller_joint</jointName>
      <linkName>rotor_puller</linkName>
      <turningDirection>cw</turningDirection>
      <timeConstantUp>0.0125</timeConstantUp>
      <timeConstantDown>0.025</timeConstantDown>
      <maxRotVelocity>3500</maxRotVelocity>
      <motorConstant>8.54858e-06</motorConstant>
      <momentConstant>0.01</momentConstant>
      <commandSubTopic>/gazebo/command/motor_speed</commandSubTopic>
      <!-- <motorNumber>4</motorNumber> -->
      <motorNumber>1</motorNumber>
      <!-- <rotorDragCoefficient>8.06428e-05</rotorDragCoefficient> -->
      <rotorDragCoefficient>8.06428e-04</rotorDragCoefficient>
      <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
      <motorSpeedPubTopic>/motor_speed/4</motorSpeedPubTopic>
      <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
      <robotNamespace></robotNamespace>
      <windSubTopic>world_wind</windSubTopic>
    </plugin>

    <plugin name='gazebo_imu_plugin' filename='libgazebo_imu_plugin.so'>
      <robotNamespace></robotNamespace>
      <linkName>plane/imu_link</linkName>
      <imuTopic>/imu</imuTopic>
      <gyroscopeNoiseDensity>0.0003394</gyroscopeNoiseDensity>
      <gyroscopeRandomWalk>3.8785e-05</gyroscopeRandomWalk>
      <gyroscopeBiasCorrelationTime>1000.0</gyroscopeBiasCorrelationTime>
      <gyroscopeTurnOnBiasSigma>0.0087</gyroscopeTurnOnBiasSigma>
      <accelerometerNoiseDensity>0.004</accelerometerNoiseDensity>
      <accelerometerRandomWalk>0.006</accelerometerRandomWalk>
      <accelerometerBiasCorrelationTime>300.0</accelerometerBiasCorrelationTime>
      <accelerometerTurnOnBiasSigma>0.196</accelerometerTurnOnBiasSigma>
    </plugin>

    <plugin name='groundtruth_plugin' filename='libgazebo_groundtruth_plugin.so'>
      <robotNamespace/>
    </plugin>

    <plugin name='magnetometer_plugin' filename='libgazebo_magnetometer_plugin.so'>
      <robotNamespace/>
      <pubRate>100</pubRate>
      <noiseDensity>0.0004</noiseDensity>
      <randomWalk>6.4e-06</randomWalk>
      <biasCorrelationTime>600</biasCorrelationTime>
      <magTopic>/mag</magTopic>
    </plugin>

    <plugin name='barometer_plugin' filename='libgazebo_barometer_plugin.so'>
      <robotNamespace/>
      <pubRate>50</pubRate>
      <baroTopic>/baro</baroTopic>
    </plugin>

    <plugin name='airspeed_plugin' filename='libgazebo_airspeed_plugin.so'>
      <robotNamespace/>
      <linkName>plane/airspeed_link</linkName>
    </plugin>

    <plugin name='mavlink_interface' filename='libgazebo_mavlink_interface.so'>
      <robotNamespace></robotNamespace>
      <imuSubTopic>/imu</imuSubTopic>
      <magSubTopic>/mag</magSubTopic>
      <baroSubTopic>/baro</baroSubTopic>
      <mavlink_addr>INADDR_ANY</mavlink_addr>
      <mavlink_tcp_port>{{ mavlink_tcp_port }}</mavlink_tcp_port>
      <mavlink_udp_port>{{ mavlink_udp_port }}</mavlink_udp_port>
      <serialEnabled>{{ serial_enabled }}</serialEnabled>
      <serialDevice>{{ serial_device }}</serialDevice>
      <baudRate>{{ serial_baudrate }}</baudRate>
      <qgc_addr>INADDR_ANY</qgc_addr>
      <qgc_udp_port>14550</qgc_udp_port>
      <sdk_addr>INADDR_ANY</sdk_addr>
      <sdk_udp_port>14540</sdk_udp_port>
      <hil_mode>{{ hil_mode }}</hil_mode>
      <hil_state_level>false</hil_state_level>
      <enable_lockstep>true</enable_lockstep>
      <use_tcp>true</use_tcp>
      <motorSpeedCommandPubTopic>/gazebo/command/motor_speed</motorSpeedCommandPubTopic>
      <control_channels>

        <channel name="rotor">
          <input_index>1</input_index>
          <input_offset>0</input_offset>
          <input_scaling>3500</input_scaling>
          <zero_position_disarmed>0</zero_position_disarmed>
          <zero_position_armed>0</zero_position_armed>
          <joint_control_type>velocity</joint_control_type>
          <joint_name>rotor_puller_joint</joint_name>
        </channel>

        <channel name="elevator_left">
          <input_index>2</input_index>
          <input_offset>0</input_offset>
          <input_scaling>1</input_scaling>
          <zero_position_disarmed>0</zero_position_disarmed>
          <zero_position_armed>0</zero_position_armed>
          <joint_control_type>position_kinematic</joint_control_type>
          <joint_name>elevator_left_joint</joint_name>
        </channel>

        <channel name="elevator_right">
          <input_index>3</input_index>
          <input_offset>0</input_offset>
          <input_scaling>1</input_scaling>
          <zero_position_disarmed>0</zero_position_disarmed>
          <zero_position_armed>0</zero_position_armed>
          <joint_control_type>position_kinematic</joint_control_type>
          <joint_name>elevator_right_joint</joint_name>
        </channel>

        <!-- Aileron In and Out -->
        <channel name="left_elevon_out">
          <input_index>4</input_index>
          <input_offset>0</input_offset>
          <input_scaling>1</input_scaling>
          <zero_position_disarmed>0</zero_position_disarmed>
          <zero_position_armed>0</zero_position_armed>
          <joint_control_type>position_kinematic</joint_control_type>
          <joint_name>foldable_left::left_elevon_out_joint</joint_name>
        </channel>

        <channel name="right_elevon_out">
          <input_index>5</input_index>
          <input_offset>0</input_offset>
          <input_scaling>1</input_scaling>
          <zero_position_disarmed>0</zero_position_disarmed>
          <zero_position_armed>0</zero_position_armed>
          <joint_control_type>position_kinematic</joint_control_type>
          <joint_name>foldable_right::right_elevon_out_joint</joint_name>
        </channel>

        <channel name="left_elevon_in">
          <input_index>6</input_index>
          <input_offset>0</input_offset>
          <input_scaling>1</input_scaling>
          <zero_position_disarmed>0</zero_position_disarmed>
          <zero_position_armed>0</zero_position_armed>
          <joint_control_type>position_kinematic</joint_control_type>
          <joint_name>foldable_left::left_elevon_in_joint</joint_name>
        </channel>

        <channel name="right_elevon_in">
          <input_index>7</input_index>
          <input_offset>0</input_offset>
          <input_scaling>1</input_scaling>
          <zero_position_disarmed>0</zero_position_disarmed>
          <zero_position_armed>0</zero_position_armed>
          <joint_control_type>position_kinematic</joint_control_type>
          <joint_name>foldable_right::right_elevon_in_joint</joint_name>
        </channel>

        <channel name="base_foldable_L_joint">
          <input_index>8</input_index>
          <input_offset>0</input_offset>
          <input_scaling>1</input_scaling>
          <zero_position_disarmed>0</zero_position_disarmed>
          <zero_position_armed>0</zero_position_armed>
          <joint_control_type>position_kinematic</joint_control_type>
          <joint_name>foldable_left::base_foldable_L_joint</joint_name>
        </channel>

        <channel name="base_foldable_R_joint">
          <input_index>9</input_index>
          <input_offset>0</input_offset>
          <input_scaling>1</input_scaling>
          <zero_position_disarmed>0</zero_position_disarmed>
          <zero_position_armed>0</zero_position_armed>
          <joint_control_type>position_kinematic</joint_control_type>
          <joint_name>foldable_right::base_foldable_R_joint</joint_name>
        </channel>

        <channel name="mid_foldable_L_joint">
          <input_index>10</input_index>
          <input_offset>0</input_offset>
          <input_scaling>1</input_scaling>
          <zero_position_disarmed>0</zero_position_disarmed>
          <zero_position_armed>0</zero_position_armed>
          <joint_control_type>position_kinematic</joint_control_type>
          <joint_name>foldable_left::mid_foldable_L_joint</joint_name>
        </channel>

        <channel name="mid_foldable_R_joint">
          <input_index>11</input_index>
          <input_offset>0</input_offset>
          <input_scaling>1</input_scaling>
          <zero_position_disarmed>0</zero_position_disarmed>
          <zero_position_armed>0</zero_position_armed>
          <joint_control_type>position_kinematic</joint_control_type>
          <joint_name>foldable_right::mid_foldable_R_joint</joint_name>
        </channel>

      </control_channels>
    </plugin>
    <static>0</static>
  </model>
</sdf>
